@keyframes shimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

.skeleton-shimmer {
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.2) 20%,
            rgba(255, 255, 255, 0.5) 40%,
            rgba(255, 255, 255, 0) 100%);
    background-size: 468px 100%;
    animation: shimmer 1.5s infinite linear;
}